<p style="color: green"><%= notice %></p>

<% content_for :title, "Tweets" %>

<h1>Tweets</h1>
<%= form_with url: tweets_path, method: :get, local: true do %>
  <div class="form-group">
    <%= label_tag :query, "Buscar Tweets" %>
    <%= text_field_tag :query, params[:query], class: "form-control" %>
  </div>
  <%= submit_tag "Buscar", class: "btn btn-dark btn-sm mb-4" %>
<% end %>



<%= link_to "Nuevo Tweet", new_tweet_path, class: "btn btn-primary btn-sm mb-4" %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>User Name</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        
        <td><%= tweet.user_name %></td>
        <td><%= tweet.description %></td>
        <td><%= link_to 'Ver', tweet , class: "btn btn-primary btn-sm btn-block" %></td>
        <td><%= link_to 'Editar', edit_tweet_path(tweet), class: "btn btn-success btn-sm btn-block" %></td>
        <td><%= link_to 'Eliminar', tweet, method: :delete, data: { confirm: 'Está seguro de eliminar?' } , class: "btn btn-danger btn-sm btn-block" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @tweets %>


